<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>630202779269-j4d4st6gtq9j7j373c2t4a9r5bnnvss0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.630202779269-j4d4st6gtq9j7j373c2t4a9r5bnnvss0</string>
	<key>API_KEY</key>
	<string>AIzaSyDhKw3DUtKx1bzykhhLOmHJ0ijojSk2CYw</string>
	<key>GCM_SENDER_ID</key>
	<string>630202779269</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test.Octopus</string>
	<key>PROJECT_ID</key>
	<string>octopus-bfa7f</string>
	<key>STORAGE_BUCKET</key>
	<string>octopus-bfa7f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:630202779269:ios:cc6339b49f81642bc88bec</string>
	<key>DATABASE_URL</key>
	<string>https://octopus-bfa7f.firebaseio.com</string>
</dict>
</plist>